<launch>
  <include file="$(find wrist_ft_sensor_cleaner)/launch/gravity.launch">
  	<arg name="start_link" value="base_link" />
  	<arg name="end_link" value="l_force_torque_link" />
  	<arg name="gravity_vector" value="[0,0,9.8]"/>
  	<arg name="urdf" value="/$(find wrist_ft_sensor_cleaner)/launch/fixed_pr2_robot.xml" />
  </include>

  <node name="ft_cleaner" pkg="wrist_ft_sensor_cleaner" type="ft_cleaner.py" output="screen">
  	<param name="ft_topic" value="/ft/l_gripper_motor" />
   	<param name="acceleration_topic" value="acceleration" />
  	<param name="path_to_saved_params" value="$(find wrist_ft_sensor_cleaner)/launch/params.yaml" />
  </node>	
</launch>
